<!DOCTYPE html>
<html lang="en">
<head>
    <script src="./static/js/p5.js"></script>
    <script src="./static/js/p5.dom.min.js"></script>
    <script src="./static/js/p5.sound.min.js"></script>
    <script src="./static/js/p5.play.js"></script>
    <script src="./static/js/planck.min.js"></script>
    
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="./static/css/style.css" />
    <title>Document</title>
</head>
<body>
    <div class="title">
        <span>JAMJAMI</span>
    </div>
    <div class="login">
        <div id="input-id">
            <span>ID</span>
            <input type="text" />
        </div>
        <div id="input-pw">
            <span>PW</span>
            <input type="text" />
        </div>
        <button id="login-btn">login</button>
    </div>
    <div id="game"  class="hidden"></div>
    <script src="https://unpkg.com/carbon-components@latest/scripts/carbon-components.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/handtrackjs/dist/handtrack.min.js"> </script>
    <script src="./static/js/login.js"></script>
    <script src="./static/js/game.js"></script>
</body>
</html>