<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/css/style.css" />
  <link rel="stylesheet" href="/static/css/name.css" />
  <title>Document</title>
</head>
<body>
  <div id="login">
    <span>비밀번호을 입력하세요</span>
    <form id="pw-form" action = "{{url_for('web.login_pw_back')}}" method = POST>
      <input type="text" id="pw" name ="pw" />
      <button type="submit">로그인</button>
    </form>
  </div>
  <script>
    
  </script>
</body>
</html>