<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/static/css/hands.css" />
        <title>Document</title>
    </head>
    <body>
        <div class="wrap">
            <div class="title">어느 손으로 플레이하실 건가요?</div>
            <div class="subtitle">클리닉이 필요한 손을 선택해주세요</div>
            <div class="container">
                <div id="left-hand" class="select">
                    <div
                        class="hand_img"
                        style="background-image: url('/static/img/left_hand.png')"
                    ></div>
                    <p style="margin: 0px; margin-top: 15px">왼손</p>
                </div>
                <div id="right-hand" class="select">
                    <div
                        class="hand_img"
                        style="background-image: url('/static/img/right_hand.png')"
                    ></div>
                    <p style="margin: 0px; margin-top: 15px">오른손</p>
                </div>
            </div>
        </div>
        <script>
            let recognition;
            let recordingStartTime;

            // 음성인식 API 지원 여부 확인
            if (
                "SpeechRecognition" in window ||
                "webkitSpeechRecognition" in window
            ) {
                // 음성인식 객체 생성
                recognition = new (window.SpeechRecognition ||
                    window.webkitSpeechRecognition)();
                recognition.lang = "ko-KR"; // 음성인식 언어 설정

                // 음성 인식 결과 이벤트 처리
                recognition.onresult = function (event) {
                    const result = event.results[0][0].transcript;
                    processVoiceCommand(result);
                };
            } else {
                // 음성인식 API를 지원하지 않는 경우 처리
                console.log("음성인식을 지원하지 않는 브라우저입니다.");
            }

            function startRecognition() {
                recognition.start();
                recordingStartTime = Date.now(); // 기록 시작 시간 저장
                console.log("음성 녹음 버튼이 활성화되었습니다.");
            }

            // 페에지 렌더링 시 음성인식 바로 시작
            startRecognition();
            
            const gameNumber = sessionStorage.getItem("gameNum");
            const left = document.querySelector('#left-hand');
            const right = document.querySelector('#right-hand');

            function onClick() {
                if (gameNumber === "1") {
                    window.location.href = 'http://127.0.0.1:5000/menu/level1'
                } else if (gameNumber === "2") {
                    window.location.href = 'http://127.0.0.1:5000/menu/level2'
                } else if (gameNumber === "3") {
                    window.location.href = 'http://127.0.0.1:5000/menu/level3'
                }
            }

            left.addEventListener('click', onClick);
            right.addEventListener('click', onClick);

            function processVoiceCommand(command) {
                console.log("Recognized command:", command);

                if (command === "왼손" || command === "왼 손") {
                    if (gameNumber === "1") {
                        window.location.href = 'http://127.0.0.1:5000/menu/level1'
                    } else if (gameNumber === "2") {
                        window.location.href = 'http://127.0.0.1:5000/menu/level2'
                    } else if (gameNumber === "3") {
                        window.location.href = 'http://127.0.0.1:5000/menu/level3'
                    }
                } else if (command === "오른손" || command === "오른 손") {
                    if (gameNumber === "1") {
                        window.location.href = 'http://127.0.0.1:5000/menu/level1'
                    } else if (gameNumber === "2") {
                        window.location.href = 'http://127.0.0.1:5000/menu/level2'
                    } else if (gameNumber === "3") {
                        window.location.href = 'http://127.0.0.1:5000/menu/level3'
                    }
                } else {
                    startRecognition();
                }   
            }         
        </script>
    </body>
</html>
